h2.font-heading.text-left {
    color: #000;
    font-family: Creo;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 105.699%;
    text-transform: uppercase;
}


.okeReviews .okeReviews-ratingsBadge--small .okeReviews-ratingsBadge-holder {
    background-color: transparent;
    border: 0px;
    display: flex;
}


span.okeReviews-ratingsBadge-reviewCount {
    margin-left: 5px;
}

.okeReviews-lazyPoweredBy.is-okeReviews-lazyLoaded {
    display: none !important;
}