h2.font-heading.text-left {
    color: #000;
    font-family: 'Creo Bold';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 105.699%;
    text-transform: uppercase;
}


.okeReviews .okeReviews-ratingsBadge--small .okeReviews-ratingsBadge-holder {
    background-color: transparent;
    border: 0px;
    display: flex;
}


span.okeReviews-ratingsBadge-reviewCount {
    margin-left: 5px;
}

.okeReviews-lazyPoweredBy.is-okeReviews-lazyLoaded {
    display: none !important;
}

legend.block.font-secondary {
    color: #000;
    font-family: Creo;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 141.199%; /* 31.064px */
}


.shopify-payment-button__more-options[disabled] {
    display: none;
}

.shopify-payment-button {
    display: none !important;
}

ul.attn-li {
    font-size: 14px;
}


body#attention-chews .text-col-img ul.grid strong {
    color: #fff;
    font-family: Creo Bold;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 105.699%;
    max-width: 60%;
    display: block;
    margin: auto;
}

@media (max-width:1024px){

#shopify-section-template--16869722980605__ff17cd22-c3ab-433f-bea8-68def1d0d075 ul.grid li:first-child,
#shopify-section-template--16869722980605__ff17cd22-c3ab-433f-bea8-68def1d0d075 ul.grid li:last-child  {
    display: none;
}

#shopify-section-template--16869722980605__ff17cd22-c3ab-433f-bea8-68def1d0d075 .media-style-container.media-no-shadow.default img {
    width: 30px;
    height: 30px;
}


.z-sticker#sticker-c0c54392-3c15-4250-b9e7-4d43d6feb57a {
    left: 81%;
}

}