.product-thumbnail-list-item img.media-style {
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.product-media .feature-media-item img.media-style {
    border-radius: 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.add-to-cart-btn {
    border-radius: 15px !important;
    background-color: #000;
    color: #fff;
    height: 56px;
}
.add-to-cart-btn .push-btn-surface {
    background-color: transparent;
    color: #fff;
}
.add-to-cart-btn.cursor-not-allowed {
    background-color: transparent;
    color: #000;
}
.add-to-cart-btn.push-btn:after {
  content: none;
}
@media (min-width: 990px){
  .product-thumbnail-list-item img.media-style {
    border-radius: 20px;
  }
  .product-media .feature-media-item img.media-style {
      border-radius: 57px;
  }
}